MONGODB_URI=mongodb+srv://tutorsparkadmin:YOUR_PASSWORD@cluster0.ijaret4.mongodb.net/tutorspark?retryWrites=true&w=majority&appName=Cluster0
STUDY_ADMIN_KEY=change-this-admin-key
MONGODB_DB=tutorspark
MONGODB_COLLECTION=study_submissions
